.manhua .mhLftHdrLft-icon {
  background: url(../img/icons.png) -139px -1931px; }

.music .mscLftHdrLft-icon {
  background: url(../img/icons.png) -140px -266px; }

.dance .dcLftHdrLft-icon {
  background: url(../img/icons.png) -141px -461px; }

.game .gmLftHdrLft-icon {
  background: url(../img/icons.png) -141px -203px; }

.techonology .tcnlgLftHdrLft-icon {
  background: url(../img/icons.png) -141px -525px; }

.shuma .smLftHdrLft-icon {
  background: url(../img/icons.png) -140px -1741px; }

.life .lfLftHdrLft-icon {
  background: url(../img/icons.png) -137px -970px; }

.guichu .gcLftHdrLft-icon {
  background: url(../img/icons.png) -141px -332px; }

.fashion .fsLftHdrLft-icon {
  background: url(../img/icons.png) -141px -718px; }

.advertise .adLftHdrLft-icon {
  background: url(../img/icons.png) -140px -1228px; }

.amusement .amsmLftHdrLft-icon {
  background: url(../img/icons.png) -141px -1032px; }

.zhuanlan .zlLftHdrLft-icon {
  background: url(../img/icons.png) -138px -1803px; }

.movie .mvLftHdrLft-icon {
  background: url(../img/icons.png) -141px -396px; }

.TV .tvLftHdrLft-icon {
  background: url(../img/icons.png) -141px -845px; }

.yingshi .ysLftHdrLft-icon {
  background: url(../img/icons.png) -140px -1356px; }

.jilup .jlpLftHdrLft-icon {
  background: url(../img/icons.png) -140px -1292px;` }
